// colors
$mainColor: rgb(61, 59, 77) !default;
$reloadedColor: #1b5e20 !default;
$errorColor: #edeefa !default;
$resultColor: #923535 !default;
$resultColorText: #dedede !default;
$highlightColor: #76ff03 !default;

// transitions
$defaultTransitionDuration: 1s !default;