// colors
$mainColor: #333 !default;
$reloadedColor: #1b5e20 !default;
$errorColor: #aa00ff !default;
$resultColor: #ff0000 !default;
$highlightColor: #76ff03 !default;

// transitions
$defaultTransitionDuration: 1s !default;